@model WorkMachine
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="intro">

                <h1 style="color:orangered">İŞ MAKİNASI GÜNCELLEME SAYFASI</h1>

            </div>
        </div>
    </div>
</div>


@if (ViewBag.UpdateError != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.UpdateError
    </div>
}

    <div class="container">
        <div class="rounded" style="float: right;">
            <a class="navbar-brand" asp-controller="WorkMachine" asp-action="Index" style="font-size:100px">TRUCK<span class="dot">.</span></a>
        </div>
    </div>
    <div class="container">
        <form asp-area="Admin" asp-controller="WorkMachine" asp-action="Update" method="post">


            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>İş Makinası</label>
                    <input type="text" class="form-control" asp-for=WorkMachineName value="@Model.WorkMachineName" placeholder="İş Makinesi Adı">
                    <span class="text-danger" asp-validation-for="WorkMachineName"></span>
                </div>
                <div class="form-group col-md-6">
                    <label>Ücret</label>
                    <input type="text" class="form-control" asp-for="DailyPrice" value="@Model.DailyPrice" placeholder="Günlük Ücret">
                <span class="text-danger" asp-validation-for="DailyPrice"></span>
                </div><br>
                <input type="submit" value="Güncelle" class="btn btn-brand" />
                <a asp-area="Admin" asp-controller="WorkMachine" asp-action="WorkMachineList" class="btn btn-brand">Vazgeç</a>
            </div>
        </form>
    </div>


