
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<img src="~/img/kapak.png" class="img-fluid" alt="Responsive image" style="height:250px width:1152px"  >
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="intro">

                    <h1 style="color:orangered">BİZ KİMİZ</h1>
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index" style="font-size:100px">TRUCK<span class="dot">.</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<br>

<h1 style="font-family: Arial, sans-serif; font-size: 24px; font-weight: bold; color:black; text-align: center;">
    TRUCK: İş Makineleri Kiralama Sektöründe Öncü Bir Firma</h1>
<br>
 <div class="container">  
<p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color : #666666; text-align: center;">Biz TRUCK olarak, iş makinesi kiralama sektöründe öncü bir şirketiz. İstanbul'da küçük bir dükkanla başlayan serüvenimiz, bugün dünya çapında faaliyet gösteren, 65 binden fazla aktif iş makinesi kiralama hizmeti sunan ve 100 binden fazla mutlu müşteriye sahip bir kuruluş haline gelmiştir. 20 yıllık deneyimimiz ve müşteri memnuniyetine odaklanan yaklaşımımızla sektörde öncü bir konumda yer almaktayız.</p>
<p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #666666; text-align: center;">TRUCK olarak temel amacımız, işletmelerin iş süreçlerini optimize etmelerine ve başarılarını artırmalarına yardımcı olmaktır. İş makinalarının etkin ve verimli bir şekilde kullanılması, bir projenin başarısında önemli bir faktördür. Bu nedenle, geniş bir iş makinesi filosuyla çeşitli sektörlere hizmet sunmaktayız.</p>
<p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #666666; text-align: center;">Müşterilerimizin ihtiyaçlarına uygun çözümler sunarak, onların projelerini başarıyla tamamlamalarını sağlıyoruz. Filomuzda, inşaat, madencilik, lojistik, tarım ve daha pek çok sektöre yönelik iş makineleri bulunmaktadır. Ekskavatörler, yükleyiciler, kamyonlar, forkliftler ve daha birçok iş makinesi çeşidini kiralama seçenekleriyle sunuyoruz. Bu sayede, müşterilerimiz kendi ihtiyaçları doğrultusunda en uygun iş makinesini seçme özgürlüğüne sahip olurlar.</p>
    <img src="~/img/about1.png" style="height: 200px; width: 200px; float: left;" class="rounded" alt="...">
    <img src="~/img/about2.png" style="height: 200px; width: 200px; float: right;" class="rounded" alt="...">
<p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #666666; text-align: center;">TRUCK olarak, sadece iş makinesi kiralama hizmeti sunmanın ötesine geçiyoruz. Müşterilerimize projelerinin her aşamasında destek olmayı hedefliyoruz. Tecrübeli ve uzman bir ekip tarafından sağlanan danışmanlık hizmetleri ile müşterilerimize en uygun makine seçimini yapmalarında yardımcı oluyoruz. Ayrıca, kiralama süresince düzenli bakım ve teknik destek sağlayarak, müşterilerimizin kesintisiz bir şekilde çalışmasını sağlıyoruz.</p>
<p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #666666; text-align: center;">TRUCK'ın başarısının temelinde, müşteri odaklılık ve güvenilirlik yatmaktadır. Müşterilerimizin beklentilerini aşmak ve onlara mükemmel bir deneyim sunmak için sürekli olarak kendimizi geliştiriyoruz. Müşteri memnuniyeti bizim için en önemli önceliktir ve bu nedenle müşterilerimize şeffaf iletişim, rekabetçi fiyatlar ve yüksek kaliteli hizmet sunuyoruz.</p>
<p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #666666; text-align: center;">
    TRUCK olarak,operasyonlarımızı sadece İstanbul ile sınırlı tutmayarak, Asya ve Avrupa bölgelerinde aktif olarak çalışmalar yürütmekteyiz. Bölgesel bir firma olmanın avantajını kullanarak, uluslararası müşterilere hizmet sunarak büyüme ve genişleme stratejilerimizi sürdürüyoruz.</p>
    <img src="~/img/about33.png" style="height: 200px; width: 200px;" class="rounded mx-auto d-block" alt="...">
<p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #666666; text-align: center;">İş makinesi kiralama sektöründe lider olmanın sorumluluğunu taşıyoruz ve sektöre yön veren bir marka olmayı hedefliyoruz. Bu doğrultuda, yüksek kalite standartlarına ve güncel teknolojik yeniliklere odaklanıyoruz. Filomuzda bulunan iş makineleri düzenli olarak kontrol edilmekte ve bakımları yapılmaktadır. Böylece müşterilerimize güvenli ve güvenilir makineler sunarak projelerinin sorunsuz bir şekilde ilerlemesini sağlıyoruz.<p>
<p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #666666; text-align: center;">Çalışanlarımızın profesyonelliği ve uzmanlığı da TRUCK'ın temel gücünü oluşturmaktadır. Deneyimli ekiplerimiz, sektördeki en son gelişmeleri takip ederek müşterilerimize en iyi hizmeti sunmak için sürekli olarak kendilerini geliştirmektedir. Ekip ruhuna ve işbirliğine önem veriyoruz, çünkü başarımızın arkasındaki en önemli faktörlerden biri takım çalışmasıdır.</p>
<p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #666666; text-align: center;"> TRUCK olarak sürdürülebilirlik ve çevre bilincine de büyük önem veriyoruz. İş makinelerinin çevresel etkilerini azaltmaya yönelik çözümler geliştiriyor ve enerji verimliliği sağlamaya özen gösteriyoruz. Aynı zamanda atık yönetimi ve geri dönüşüm gibi uygulamaları destekleyerek doğal kaynakların korunmasına katkıda bulunuyoruz. Sosyal sorumluluk projelerine de aktif olarak katılıyor ve topluma değer katma amacıyla çeşitli girişimlerde bulunuyoruz.</p>
    <img src="~/img/about44.png" style="height: 200px; width: 200px; float: left;"  class="rounded" alt="...">
    <img src="~/img/about55.png" style="height: 200px; width: 200px; float: right;" class="rounded" alt="...">
<p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #666666; text-align: center;">   </p>
<p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #666666; text-align: center;">TRUCK, müşteri odaklı yaklaşımı, geniş ürün yelpazesi, uluslararası yaygınlığı ve güvenilirliği ile iş makinesi kiralama sektöründe öncü bir şirkettir. Biz, gelecekte de müşterilerimize en iyi hizmeti sunmak, sektördeki liderliğimizi sürdürmek ve yeni başarılara imza atmak için sürekli olarak gelişmeye ve yeniliklere açık olmaya devam edeceğiz. TRUCK olarak, iş makineleri kiralamada güvenilir ortağınız olmaktan gurur duyuyoruz ve müşterilerimizin başarılarına katkıda bulunmaktan mutluluk duyuyoruz.</p>
</div>
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="intro">
                    <h1 style="color:orangered">UZMAN YÖNETİCİ KADROMUZ</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-8">
        <div class="team-member">
            <div class="image">
                <img src="~/img/baris.jpg" style="height: 460px; width: 500px;">
                <div class="social-icons">
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                    <a href="#"><i class='bx bxl-instagram'></i></a>
                    <a href="#"><i class='bx bxl-pinterest'></i></a>
                </div>
                <div class="overlay"></div>
            </div>

            <h5>Barış AYDOĞAN</h5>
            <p>Çaycı</p>
        </div>
    </div>
    <div class="col-lg-4 col-md-8">
        <div class="team-member">
            <div class="image">
                    <img src="~/img/Background.jpg" style="height: 460px; width: 447px;">
                <div class="social-icons">
                    <a href="https://facebook.com"><i class='bx bxl-facebook'></i></a>
                    <a href="https://twitter.com"><i class='bx bxl-twitter'></i></a>
                    <a href="https://instagram.com"><i class='bx bxl-instagram'></i></a>
                    <a href="https://pinterest.com"><i class='bx bxl-pinterest'></i></a>
                </div>
                <div class="overlay"></div>
            </div>

            <h5>Barbara PALVİN</h5>
            <p>Avrupa Bölge Sorumlusu</p>
        </div>
    </div>
    <div class="col-lg-4 col-md-8">
        <div class="team-member">
            <div class="image">
                    <img src="~/img/satoshi.jpg" style="height: 460px; width: 447px;">
                <div class="social-icons">
                    <a href="https://facebook.com"><i class='bx bxl-facebook'></i></a>
                    <a href="https://twitter.com"><i class='bx bxl-twitter'></i></a>
                    <a href="https://instagram.com"><i class='bx bxl-instagram'></i></a>
                    <a href="https://pinterest.com"><i class='bx bxl-pinterest'></i></a>
                </div>
                <div class="overlay"></div>
            </div>

            <h5>Satoshi Nakamoto</h5>
            <p>Asya Bölge Sorumlusu</p>
        </div>
    </div>
</div>
</section>
<section>
<h1 style="font-family: Arial, sans-serif; font-size: 24px; font-weight: bold; color:orangered; text-align: center;">BARIŞ AYDOĞAN</h1>
<h5 style="font-family: Arial, sans-serif; font-size: 24px; font-weight: bold; color:black; text-align: center;">Çaycı</h5>




<br>
<br>
<div class="container">
<p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color : #666666; text-align: center;">Barış Aydoğan, TRUCK şirketinde 3 yıldır Çaycı olarak görev yapmaktadır. Şirketimize enerji dolu ve güler yüzlü bir şekilde katkı sağlamaktadır. Barış, çay ve sıcak içeceklerin hazırlanması ve sunumu konusunda uzmanlaşmıştır. Her gün mutfakta özenle hazırladığı aromalı çaylar ile misafirlerimizin ve çalışanlarımızın keyifli bir gün geçirmelerine yardımcı olmaktadır. Ayrıca, çalışma alanının temizlik ve düzenine de büyük önem vererek, herkesin konforlu bir ortamda vakit geçirmesini sağlamaktadır. Barış'ın çalışkanlığı, titizliği ve müşteri odaklı yaklaşımı TRUCK ailesinde değerli bir üye olarak kabul edilmektedir.</p>
</div>
</section>
<section>
<h1 style="font-family: Arial, sans-serif; font-size: 24px; font-weight: bold; color:orangered; text-align: center;">Barbara Palvin</h1>
    <h5 style="font-family: Arial, sans-serif; font-size: 24px; font-weight: bold; color:black; text-align: center;">Avrupa Bölge Sorumlusu</h5>




<br>
<br>
<div class="container">
        <p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color : #666666; text-align: center;">Barbara Palvin, TRUCK şirketinde Avrupa Bölge Sorumlusu olarak görev yapmaktadır. Dinamik ve başarılı bir profesyonel olarak Avrupa pazarında büyümeyi yönlendiren bir rol üstlenmektedir. Lisans derecesini İşletme Yönetimi alanında Avrupa Üniversitesi'nden almıştır. 5 yıl önce TRUCK'a katılmış ve hızla Avrupa Bölge Sorumlusu pozisyonuna yükselmiştir.</p>
        <p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color : #666666; text-align: center;">Barbara, pazar analizi yapma, stratejik planlama ve müşteri ilişkileri yönetimi konularında deneyimlidir. Liderlik becerileriyle ekipleri yönlendirerek hedeflere ulaşmada başarılı bir track record'e sahiptir. Aynı zamanda iletişim ve ilişki yönetimi konularında yetkinlik sahibidir. Veri analizi yapma ve stratejik kararlar alma konusunda analitik düşünme becerilerine sahiptir..</p>
        <p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color : #666666; text-align: center;">Barbara Palvin, TRUCK'ın Avrupa Bölge Sorumlusu olarak şirketin büyümesinde önemli bir rol oynamaktadır. Profesyonel deneyimi ve liderlik yetenekleriyle müşteri memnuniyetini artırma ve şirketin Avrupa pazarında güçlü bir konum elde etme hedeflerine odaklanmaktadır.</p>
</div>
</section>
<section>
<h1 style="font-family: Arial, sans-serif; font-size: 24px; font-weight: bold; color:orangered; text-align: center;">Satoshi Nakamoto</h1>
    <h5 style="font-family: Arial, sans-serif; font-size: 24px; font-weight: bold; color:black; text-align: center;">Asya Bölge Sorumlusu</h5>




<br>
<br>
<div class="container">
        <p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color : #666666; text-align: center;">Satoshi Nakamoto, TRUCK şirketinde Asya Bölge Sorumlusu olarak görev yapmaktadır. İş dünyasında dinamik ve başarılı bir profesyonel olarak Asya pazarında şirketin büyümesini yönlendiren bir rol üstlenmektedir.</p>
        <p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color : #666666; text-align: center;">Satoshi, uzun yıllara dayanan deneyimi ve liderlik becerileriyle Asya pazarındaki stratejik kararların alınmasında önemli bir rol oynamaktadır. Ekip çalışmasına inanan ve müşteri odaklı bir yaklaşıma sahip olan Satoshi, şirketin Asya pazarındaki varlığını güçlendirmek için stratejik planlar geliştirmekte ve uygulamaktadır.</p>
        <p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color : #666666; text-align: center;">Asya pazarının karmaşıklıklarını anlayan ve bölgenin dinamiklerine hakim olan Satoshi, pazar analizi yapma ve yeni iş fırsatlarını belirleme konusunda uzmandır. Müşteri taleplerini analiz ederek, müşteri memnuniyetini en üst düzeye çıkarmak ve müşteri ilişkilerini güçlendirmek için çözümler üretmektedir.</p>
        <p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color : #666666; text-align: center;">Satoshi, liderlik becerileriyle ekibini yönlendirerek, Asya pazarında hedeflere ulaşma ve gelir artırma konularında başarı sağlamaktadır. Aynı zamanda iletişim ve ilişki yönetimi konularında güçlüdür, iş ortakları ve paydaşlarla etkili bir şekilde iletişim kurar ve işbirliği yapar.</p>
        <p style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color : #666666; text-align: center;">Asya pazarının benzersiz özelliklerini dikkate alan ve kültürel farklılıkları anlayan Satoshi Nakamoto, TRUCK şirketinin Asya Bölge Sorumlusu olarak büyük bir değere sahiptir. Şirketin büyümesinde kilit bir rol oynayarak Asya pazarında güçlü bir varlık oluşturma hedefine odaklanmaktadır.</p>
</div>
</section>







































